<template>
<div id="welcome">
    <b-container>
        <b-row class="justify-content-md-center">
            <b-jumbotron class="padding" lg="8">
                <template slot="header">
                    Getting Started with Vue.js with Express and Mongoose
                </template>
                <template slot="lead">
                    This is my tutorial of how to use js to create a single page using a simple messaging system.  For the backend working of this app I will be using Node.js with Express.  I am using Mongoose to communicate with MongoDB to store the information, and Vue.js to display that information to the end user.
                </template>
                <hr class="my-4">
                <p>
                    Are you ready to do this.
                </p>
                <b-btn variant="primary" href="/create-user">Yeah lets do this</b-btn>
                <b-btn variant="danger" href="#">Nah, Im good.</b-btn>
            </b-jumbotron>
        </b-row>
    </b-container>
</div>
    
</template>

<style lang="scss">
    #welcome {
        margin-top: 15vh;
        .jumbotron {
            background: transparent;
            margin-bottom: 0;
        }
        .padding {
            padding: 2rem;
        }
        .btn {
            margin: 2rem 1rem 0 0;
        }
        .btn-danger {
            &:hover {
                opacity: 0;
                cursor: default;
            }    
        }
    }
    
</style>
