<template>
  <div id="login">
    <h1 class="text-center">Login</h1>
    <b-container>
      <b-row class="justify-content-md-center">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show" lg="6" style="width:100%" validated="true">
          <b-row>
            <b-col cols="12">
              <b-form-input :state="null" id="firstName" type="text" v-model="form.email" required placeholder="Email"></b-form-input>
            </b-col>
            <b-col cols="12">
              <b-form-input :state="null" id="lastName" type="text" v-model="form.password" required placeholder="Password"></b-form-input>
            </b-col>
          </b-row>
          <b-button type="submit" variant="primary" class="login-btn">Submit</b-button>
          <b-alert class="login-error" :show="errorShow" dismissible variant="danger">{{error}}</b-alert>
        </b-form>
        <div>
            <b-link href="/create-user">Create a User</b-link>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      confirmPassword: '',
      show: true,
      error: '',
      errorShow: false
    }
  },
  methods: {
    onSubmit (evt) {
        evt.preventDefault();
        let url = 'http://localhost:3000/api/login'
        this.axios.post(url, this.form)
        .then((response) => {
            if(response.data.user) { 
              window.sessionStorage.setItem('user', JSON.stringify(response.data.user));
              this.$router.push('/message');
            } else {
                this.errorShow = true
                this.error = response.data.error
            }
        })
        .catch((err) => {
            console.log(err)
        })
    },
    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.password = '';
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}
</script>

<style lang="scss">
  #login {
    margin-top: 25vh;
    h1 {
      font-size: 1.5rem;
    }
    .container {
      margin-top: 1rem;
      border: solid 1px #dad8d8;
      background-color: #f5f5f5;
      border-radius: 5px;
    }
    .row {
      padding: 1rem;
    }
    .col-12 {
        margin-bottom: 1rem;
    }
    .login-error { margin: 1rem; }
    .btn { margin-left: 1rem; }
  }
</style>
