<template>
    <b-navbar toggleable="md" type="dark" variant="danger" sticky>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="/">Home</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav>
                <b-nav-item href="/messages">Messages</b-nav-item>
            </b-navbar-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-button size="sm" class="my-2 my-sm-0" @click="goToLogin()">Log In</b-button>
                </b-nav-form>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
    module.exports = {
        data(){
            return {}
        },
        methods: {
            goToLogin() {
                this.$router.push('/login')
            }
        }
    }
</script>


<style scoped>

</style>