<template>
    <div>
        Add User <b-alert variant="success" show>{{test.object}}</b-alert>
    </div>
</template>

<script>
export default {
    data(){
        return{
            test: {}
        }
    },
    created() {
        this.axios
        .get('http://localhost:3000')
        .then((response) => {
            this.test = response.data;
            console.log(response, 'testing 1 2 3')
        });
    }
}
</script>
