<template>
  <div id="userForm">
    <h1 class="text-center">Add User</h1>
    <b-container>
      <b-row class="justify-content-md-center">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show" lg="6" style="width:100%" validated="true">
          <b-row>
            <b-col cols="6">
              <b-form-input :state="null" id="firstName" type="text" v-model="form.firstName" required placeholder="Enter First Name"></b-form-input>
            </b-col>
            <b-col cols="6">
              <b-form-input :state="null" id="lastName" type="text" v-model="form.lastName" required placeholder="Enter Last Name"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <b-form-input :state="null" id="email" type="email" v-model="form.email" required placeholder="Enter Email"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-form-input :state="null" id="password" type="password" v-model="form.password" required placeholder="Enter Password"></b-form-input>
            </b-col>
            <b-col cols="6">
              <b-form-input :state="null" id="confirmPassword" type="password" v-model="confirmPassword" required placeholder="Confirm Password"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-row>
        </b-form>
      </b-row>
      <b-alert :show="userCreatedAlert.state" :variant="userCreatedAlert.type">{{alertMessage}}</b-alert>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        firstName: '',
        lastName: '',
        email: '',
        password: ''
      },
      confirmPassword: '',
      show: true, 
      userCreatedAlert: {
        state: false,
        type: 'success'
      },
      alertMessage: ''
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      let url = 'http://localhost:3000/api/create-user'
      if(this.confirmPassword === this.form.password) {
        this.axios.post(url, this.form)
        .then(() => {
          this.userCreatedAlert.state = true;
          this.alertMessage = 'Your user was created successfully!'
          setTimeout(() => {
            this.$router.push('/messages')
          }, 2000);
        })
        .catch((error) => {
          this.userCreatedAlert.state = true;
          this.userCreatedAlert.type = 'danger';
          this.alertMessage = error;
          setTimeout(() => {
            this.userCreatedAlert.state = false;
          },2000)
          console.log(error)
        })
      }
    },
    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.firstName = '';
      this.form.lastName = '';
      this.form.password = '';
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}
</script>

<style lang="scss">
  #userForm {
    margin-top: 25vh;
    h1 {
      font-size: 1.5rem;
    }
    .container {
      margin-top: 1rem;
      border: solid 1px #dad8d8;
      background-color: #f5f5f5;
      border-radius: 5px;
    }
    .row {
      padding: 1rem;
    }
    .btn { margin: 0 1rem; }
  }
</style>
