
<template>
  <div id="app">
    <nav-component></nav-component>
    <router-view></router-view>
  </div>
</template>

<script>
    import NavComponent from './components/NavComponent'
    export default {
        name: 'app',
        components: {NavComponent}
    }
</script>
